In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("sales_data.csv")
print(df.to_string())

   OrderID CustomerName        City     Product     Category  Quantity  Price  Discount
0     1001        Anish   Kathmandu      Laptop  Electronics         1  80000      10.0
1     1002         Riya     Pokhara       Phone  Electronics         2  30000       5.0
2     1003        Suman   Kathmandu  Headphones  Electronics         1   2000       NaN
3     1004        Anish   Kathmandu      Laptop  Electronics         1  80000      10.0
4     1005        Kiran  Biratnagar       Chair    Furniture         3   5000       0.0
5     1006          NaN     Pokhara       Table    Furniture         1  15000       5.0
6     1007        Meena    Lalitpur       Phone  Electronics         1  30000      50.0
7     1008       Ramesh   Kathmandu        Book   Stationery         5    500      -5.0
8     1009         Sita     Pokhara         Pen   Stationery        10     50       0.0
9     1010        Suman   Kathmandu      Laptop  Electronics         1  80000     110.0

In [ ]:
df["TotalAmount"] = df["Quantity"] * df["Price"]

In [6]:
df["TotalAmount"].sum()

np.int64(365000)

In [7]:
df.groupby(["Product","City"])["TotalAmount"].sum().sort_values(ascending=False)

Product     City
Laptop      Kathmandu     240000
Phone       Pokhara        60000
            Lalitpur       30000
Chair       Biratnagar     15000
Table       Pokhara        15000
Book        Kathmandu       2500
Headphones  Kathmandu       2000
Pen         Pokhara          500
Name: TotalAmount, dtype: int64

In [10]:
df.groupby(["CustomerName","Product"])["TotalAmount"].sum().sort_values(ascending=True)

CustomerName  Product
Sita          Pen              500
Suman         Headphones      2000
Ramesh        Book            2500
Kiran         Chair          15000
Meena         Phone          30000
Riya          Phone          60000
Suman         Laptop         80000
Anish         Laptop        160000
Name: TotalAmount, dtype: int64