In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_backup.csv")
print(df.to_string())

   OrderID CustomerName        City     Product     Category  Quantity  Price  Discount  TotalAmount  DiscountAmount  NetAmount
0     1001        Anish   Kathmandu      Laptop  Electronics         1  80000      10.0        80000          8000.0    72000.0
1     1002         Riya     Pokhara       Phone  Electronics         2  30000       5.0        60000          3000.0    57000.0
2     1003        Suman   Kathmandu  Headphones  Electronics         1   2000       0.0         2000             0.0     2000.0
3     1004        Anish   Kathmandu      Laptop  Electronics         1  80000      10.0        80000          8000.0    72000.0
4     1005        Kiran  Biratnagar       Chair    Furniture         3   5000       0.0        15000             0.0    15000.0
5     1006          NaN     Pokhara       Table    Furniture         1  15000       5.0        15000           750.0    14250.0
6     1007        Meena    Lalitpur       Phone  Electronics         1  30000      50.0        30000         15000.0    15000.0
7     1008       Ramesh   Kathmandu        Book   Stationery         5    500      -5.0         2500          -125.0     2625.0
8     1009         Sita     Pokhara         Pen   Stationery        10     50       0.0          500             0.0      500.0
9     1010        Suman   Kathmandu      Laptop  Electronics         1  80000     110.0        80000         88000.0    -8000.0

In [ ]:
#Customer Behavior analysis   /// for each customername add orderID
#Count Orders per customer
df.groupby("CustomerName")["OrderID"].count() #Ekjana customer le kati ota oder place garyo vanera

CustomerName
Anish     2
Kiran     1
Meena     1
Ramesh    1
Riya      1
Sita      1
Suman     2
Name: OrderID, dtype: int64

In [ ]:
#How much did one person spend total
df.groupby("CustomerName")["NetAmount"].sum().sort_values(ascending=False)

CustomerName
Anish     144000.0
Riya       57000.0
Kiran      15000.0
Meena      15000.0
Ramesh      2625.0
Sita         500.0
Suman      -6000.0
Name: NetAmount, dtype: float64

 So, we can see that Anish is the Top buyer who have purchased the most . and suman is the least

In [ ]:
#Quantity bought by each customer
df.groupby("CustomerName")["Quantity"].sum().sort_values(ascending=False) #Ekjana le kati ota quantity purachse garyo ("Kosly dherai saman buy garyo")

CustomerName
Sita      10
Ramesh     5
Kiran      3
Riya       2
Anish      2
Suman      2
Meena      1
Name: Quantity, dtype: int64